{% extends "base.html.twig" %}
{% block title %}Contacto{% endblock %}
{% block body %}
<h1>Ficha del contacto</h1>
{% if contacto %}
    {{ include("partials/datos_contacto.html.twig") }}
{% else %}
    <h4>NO HAY CONTACTOS</h4>
{% endif %}
{% endblock %}